<div class="view-tabs">
  <div class="view-tabs-scroll">
    @for (view of viewStore.teamViews(); track view.id) {
      <button
        class="view-tab"
        [class.active]="view.id === viewStore.activeViewId()"
        (click)="selectView(view)">
        <mat-icon class="tab-icon">
          @if (view.isTeamDefault) {
            star
          } @else {
            view_list
          }
        </mat-icon>
        {{ view.name }}
      </button>
    }

    @if (viewStore.teamViews().length > 0 && viewStore.personalViews().length > 0) {
      <span class="tab-divider"></span>
    }

    @for (view of viewStore.personalViews(); track view.id) {
      <button
        class="view-tab"
        [class.active]="view.id === viewStore.activeViewId()"
        (click)="selectView(view)">
        <mat-icon class="tab-icon">person</mat-icon>
        {{ view.name }}
      </button>
    }
  </div>

  <button class="view-tab save-tab" (click)="saveView()">
    <mat-icon class="tab-icon">add</mat-icon>
    {{ 'common.views.saveView' | transloco }}
  </button>
</div>
